/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common Colors */
:root {
    --white: #fff;
    --black: rgb(0, 0, 0);
    --orange: rgb(138, 97, 44);
    --purple: rgb(99, 99, 180);
    --ash: #a5a4a4;
}

/* Common Utilities */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--white);
    width: 100vw;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: var(--white);
}



/*-------------------------- 
             Heading section
---------------------------- */



header {
    margin: 80px 0px 100px;

}

.container {
    width: 85vw;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    background-color: var(--black);
    color: var(--white);
    border-radius: 25px;
}


.container .head {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.container .head-1 {

    padding: 100px 0px 70px 100px;
}

.head h1 {
    font-size: 4.5em;
    line-height: 75px;
    margin-bottom: 20px;
    font-weight: 500;
}

.head p {
    width: 80%;
    line-height: 20px;
    margin-bottom: 30px;
    letter-spacing: 1.2px;
}

.head button {
    width: 250px;
    padding: 15px 20px;
    background-color: var(--orange);
    border-radius: 50px;
    cursor: pointer;
    transition: .2s ease-in-out;
    /* position: relative; */
}

.head button:hover {
    transform: translatex(6px);
}

.head button a {
    text-decoration: none;
    font-size: 1.9em;
    color: var(--white);
    font-weight: 400;
}

.head i {
    color: var(--white);
    position: relative;
    left: 18px;
    top: 1px;
    font-size: 1.6em;

}



.container .head-2 {
    display: flex;
    align-items: center;
}

.head img {
    width: 100%;

}

/* ----------------Heading----------------- */



/*-------------------------- 
             Body section
---------------------------- */






main {
    margin-bottom: 100px;
}

main .large-container {
    display: flex;
    width: 85vw;
    margin: 0 auto;
    background-color: var(--white);
    color: var(--black);

}



/* ----------form---------- */



.match-info {
    width: 22%;
    height: 400px;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    border-radius: 15px;



}

.match-info ul {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.match-info ul li {
    background-color: var(--orange);
    height: 40px;
    width: 75%;
    margin: 30px 0px;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.match-info ul li a {
    font-size: 1.2em;
}

.match-info i {
    color: white;
    margin-right: 10px;
    font-size: 25px;
}



/* -------------Transfar--------------- */




.transfers,
.matches {
    margin-left: 2%;
    width: 80%;
    display: grid;
    grid-column-gap: 2%;
    grid-row-gap: 5%;
    grid-template-columns: repeat(3, 1fr);
}

.transfer,
.match {
    box-shadow: 7px 2px 16px -6px var(--ash);
    border-radius: 10px;
    height: 100%;

}

.transfer img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.transfer .sidegap {
    margin-left: 15px;
}

.transfer a {
    text-decoration: none;
    color: var(--black);
    font-weight: 400;
    border: 1px solid black;
    padding: 5px 15px;
    border-radius: 5px;
}

.transfer h3 {
    margin-top: 10px;

}

.transfer .transfer-message {
    display: grid;
    grid-template-columns: 40% 40%;
    margin: 5px 0;
}



/* Matches */



.matches {
    grid-row-gap: 40px;

}

.match {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 7px 2px 16px -6px var(--ash);
    border-radius: 10px;
    height: 180px;
}

.match .images {
    display: flex;
    align-items: center;
}

.match .images img {
    width: 30%;
    margin: 0px 15px 15px 15px;
}

.match .match-schedule {
    margin-left: 15px;
}

.match .match-schedule>p:nth-child(1) {
    font-size: 1.4em;
    font-weight: 800;
    letter-spacing: 0.08em;
    margin-bottom: -2px;

}

.match .match-schedule>p:nth-child(2) {
    font-size: 1em;
    font-weight: 300;



}


.view-all {
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;

}

.view-all a {
    display: none;
    text-decoration: none;
    font-size: 1.4em;
    background-color: var(--orange);
    color: white;
    padding: 10px 30px;
    border-radius: 40px;
    letter-spacing: 1.4px;
    cursor: pointer;

}


/* --------------------------
        End Of Body Part
----------------------------- */



/* -------------------------
                    FOOTER
---------------------------- */

footer {
    background-color: var(--black);
    color: var(--white);
    width: 100vw;

}

footer .footer {
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.5fr 1px 1fr;
    padding: 50px 0px;
}

.footer h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

.update ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;

}



.update ul li a {
    color: var(--purple);
    font-size: 1.1em;
    transition: .15s linear;
}

.update ul li a:hover {
    color: rgb(57, 60, 214);
}

hr {
    /* width: 40%;
    height: 40%; */
    opacity: 30%;

}

.follow-me {
    margin-left: 50px;
}

.follow-me ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 15px;
}

.follow-me ul li {
    margin-right: 40px;

}

.follow-me ul li i {
    font-size: 250%;
    color: var(--purple);
}